/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Define the styles for the header and navigation */
  header {
    background-color: white;
    padding: 11px;
    position: relative;
    font-family: CircularStd, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: black;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    margin-left: 35px;
    text-decoration: none;
    color: black;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    display: inline-block;
    margin-right: 15px;
  }
  
  nav ul li:last-child {
    margin-right: 45px; /* Change this line to remove margin-right for the last li */
  }

  ul li a {
    color: white;
    text-decoration: none;
    padding: 11px;
    display: inline-block;
    color: black;
  }
  
  ul li a:hover {
    display: inline;
  }
  
  .hire-button {
    display: inline-block;
    padding: 8px 18px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid darkolivegreen;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 3);
    transition: background-color 0.3s ease;
  }
  
  .hire-button:hover {
    background-color: darkseagreen;
    color: white;
  }
  
  
  
  
