.header-line {
  border: none;
  border-top: 1px solid black;
  margin: 0px 0;
}

/* Target the body element */
body {
  font-family: Arial, sans-serif;
  margin-left: 15px;
  padding: 0;
  background-color: #F5F5F5;
}  

/* Target the introduction section */
.intro-section {
  display: flex;
}

.intro-text {
  padding-right: 80px;
  flex: 1;
}

.profile-image {
  flex: 1;
  padding-left: 50px;
}

.profile-image img {
  max-width: 50%;
  height: auto;
}

/* Target the project section */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-item {
  position: relative;
  overflow: hidden;
}

.project-video {
  position: relative;
  overflow: hidden;
}

.project-video video {
  width: 100%;
  height: auto;
}

.project-details {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-item:hover .project-details {
  opacity: 1;
}


  
  /* Target the footer section */
  .footer {
    background-color: #8B4513;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
  }
  
  html {
  scroll-behavior: smooth;
}
  
