.header-line {
  border: none;
  border-top: 1px solid black;
  margin: 0px 0;
}

/* Target the body element */
body {
  font-family: Arial, sans-serif;
  margin-left: 15px;
  padding: 0;
  background-color: #F5F5F5;
}  

/* Target the introduction section */
.intro-section {
  display: flex;
}

.intro-text {
  padding-right: 80px;
  flex: 1;
}

.profile-image {
  flex: 1;
  padding-left: 50px;
}

.profile-image img {
  max-width: 50%;
  height: auto;
}

/* Target the project section */
.project-section {
  padding-top: 50px;
}

.project-intro {
  padding: 20px;
  text-align: center;
  background-color: burlywood;
  color: white;
}

h1 {
  font: 300;
  font-family: Lucida Sans;
}

p{
  font-family: Tahoma;
}

.project-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.project-card{
  background-color: aliceblue;
  width: calc(33.3% - 20px);
  padding: 20px;
  box-sizing: border-box;
}

.project-card img{
  max-width: 80%;
  height: auto;
}
  
  /* Target the footer section */
  .footer {
    background-color: #8B4513;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
  }
  
  html {
  scroll-behavior: smooth;
}
  
