.header-line {
  border: none;
  border-top: 1px solid black;
  margin: 0px 0;
}

/* Target the body element */
body {
  font-family: Arial, sans-serif;
  margin-left: 15px;
  padding: 0;
  background-color: #F5F5F5;
}  

/* Target the introduction section */
.intro-section {
  display: flex;
}

.intro-text {
  padding-right: 80px;
  flex: 1;
}

.profile-image {
  flex: 1;
  padding-left: 50px;
}

.profile-image img {
  max-width: 50%;
  height: auto;
}

/* Target the project section */
.project-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project-item {
  background-color: #111;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
  transition: transform 0.3s; /* Add a transition for the transform property */
}

.project-item:hover {
  transform: translateY(-10px);
  transform: translateY(-15px); /* Apply the hover effect */
}

.project-video {
  height: 200px;
  overflow: hidden;
}

.project-video video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-details {
  background-color: #000;
  color: #fff;
  padding: 15px;
}

.project-item:hover .project-details {
  opacity: 1;
}


  
  /* Target the footer section */
  .footer {
    background-color: #8B4513;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
  }
  
  html {
  scroll-behavior: smooth;
}
  
